{% extends "base.html" %}

{% block content %}
    <div style="margin-top: 30%">
        <h1 class="cover-heading text-center">{{ title }}</h1>
        <p class="lead text-center">Shorten that URL</p>
        <div class="text-center col-sm-12">
            <form method="POST" action=".">
                {% csrf_token %}
                {#        <input type="text" name="url" placeholder="Shorten your URL"/>#}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Shorten &raquo;">
            </form>
        </div>
    </div>


{% endblock content %}

